body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: black; /* Cambiado a negro */
    color: white; /* Color de texto blanco para contraste */
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.gallery {
    padding: 20px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.photo-grid img {
    width: 100%;
    border-radius: 10px;
}

.message {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black; /* Cambiado a negro */
    color: white; /* Color de texto blanco para contraste */
}